 html, body {
  max-width: 1000px;
  max-height: 1000px;
 }

 body{
  margin: 0;
 }
 
 header {
   height: 75px;
   text-align:right;
   background-color : rgb(210, 212, 216);
   padding: 20px;
   /* border: 1px solid; */
 }

 header button {
  width: 200px;
  cursor:pointer;
  padding: 10px;
  font-size: 30px;
 }
 

 #wrap {
   position:static;
   margin:20px 0px;
   text-align:center;
 }

 #wrap div button {
  cursor:pointer;
  padding: 20px;
  margin: 10px;           /* 상하좌우 모두,     */
  font-size: 2em;
}

 #portfolio {
   position:static;
   margin:20px 50px 20px; /* 상 좌우 하 */
   text-align:left;
 }

 .blob div {
  margin: 20px 50px 20px; /* 상 좌우 하 */
}

#photo{
  position:static;
  width: 100%;
  height: 60%;
  object-fit: cover;
  text-align: center;
  margin-bottom: 50px;
}

.layer {
  display: flex;
  margin: 50px;

}

.layer .layer-child{
  display: inline-block;
  width: 300px;
  height: 320px;
  margin-left: 20px;
  text-align: left;
}

.layer .layer-childtxt{
  display: inline-block;
  width: 500px;
  height: 320px;
  margin-left: 50px;
  text-align: left;
  font-size: 1.5em;
}

.layer-child img{
  width: 300px;
  height: 300px;
  text-align: center;
  border: 3px solid;
  margin-left: 10px;
}
 
 footer {
   flex: 1;
   clear:left;
   text-align:center;
   background-color : rgb(210, 212, 216);
   padding: 20px;
 }

 .largetxt{
  font-size: 1.8em;
}
.middletxt{
  font-size: 1.5em;
}
.smalltxt{
  font-size: 1.2em;
}